{% macro content_home() -%}
  <div class="content content-home">
    <!-- Masthead
    ================================================== -->
    <header class="jumbotron masthead">
      <div class="inner">
        <h1>Your Tiny Agit</h1>
          <p>트위터를 하다보면 채팅이 필요한 상황이 가끔 생깁니다. 여럿이 멘션을 주고 받는데 아이디를 나열하고 나면 글 쓸 공간이 부족하다거나, 방송을 하는 중인데 모두가 같이 대화할 수 있는 공간이 필요하다거나. TwitAgit로 해결하세요! </p>
        <p class="get-started-now">
          <a href="#" class="btn btn-primary btn-large">Get Your Agit Now</a>
          <a href="#" class="btn btn-large">Or Visit Your Friends' Agit</a>
        </p>
      </div>

      <div class="tweet-btn">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://twitagit.cdo.li" data-text="TwitAgit에 아지트를 만들자!" data-size="large">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </header>
  </div>

{%- endmacro %}

{% macro content( class, header, smallHeader ) -%}
{%- endmacro %}
