{% import "util.html" as util %}
{% extends "layout.html" %}
{% block body %}
<div class="panel">
  <h3>Best Namings</h3>
  <div class="row">
    {% for d in best_namings %}
      <div class="col-lg-3">
        {{ util.naming_thumbnail() }}
      </div>
    {% endfor %}
  </div>
</div>

<div class="panel">
  <h3>Recent Namings</h3>
  <div class="row">
    {% for d in recent_namings %}
      <div class="col-lg-3">
        {{ util.naming_thumbnail() }}
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}


