{% import "util.html" as util %}
{% macro social_signup(provider_id, display_name) %}
  <form action="{{ url_for('provider_auth', provider_id=provider_id) }}" method="POST" style="float: left;">
    <button type="submit" class="btn btn-primary btn-large" style="width: 200px; margin:12px 19px;">
      Register with {{ display_name }}
    </button>
  </form>
{% endmacro %}

{% extends "layout.html" %}
{% block body %}

<div class="panel2 panel2-danger" style="height: 100px">
  <div class="panel2-heading">
    <h3 class="panel2-title">Sign Up</h3>
  </div>
  <div style="width: 714px; margin: auto;">
    {{ social_signup('twitter', 'Twitter' )}}
    {{ social_signup('facebook', 'Facebook' )}}
    {{ social_signup('google', 'Google' )}}
    <!-- {{ social_signup('github', 'GitHub' )}} -->
  </div>
</div>

<div class="panel2 panel2-danger">
  <div class="panel2-heading">
    <h3 class="panel2-title">Best Namings</h3>
  </div>
  <div class="panel2-body">
    <div class="row">
      {% for d in best_namings %}
        {{ util.naming_thumbnail() }}
      {% endfor %}
    </div>
  </div>
</div>

<div class="panel2 panel2-danger">
  <div class="panel2-heading">
    <h3 class="panel2-title">Recent Namings</h3>
  </div>
  <div class="panel2-body">
    <div class="row">
      {% for d in recent_namings %}
        {{ util.naming_thumbnail() }}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}


