{% extends "layout.html" %}
{% block body %}

<div class="container">
    <div class="panel2 panel2-danger">
        <div class="panel2-heading">
            <h3 class="panel2-title">image</h3>
        </div>
        <div class="panel2-body">
            <div class="funnypic"><img src="http://www.gettyimages.co.uk/CMS/StaticContent/1365074401896_Justin-Case-1.jpg">
                <div class="best1">hello</div>
            </div>
        </div>
    </div>
    
    <div class="panel2 panel2-danger">
        <div class="panel2-heading">
            <h4 class="panel2-title">BEST 3</h4>
        </div>
        <div class="panel2-body1">
            
          <div class="random1"> 
            <div class="media1">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://www.gettyimages.co.uk/CMS/StaticContent/1365074401896_Justin-Case-1.jpg">
                </a>
                <div class="media-body1">
                    <h5 class=media-heading">User Name</h5>
                        <p>get random1 title
                        </p>
                </div>
            </div>

            <div><button type="button" id="more1" class="btn btn-link" data-toggle="collapse" data-target="#hidden1">+view more comments</button></div>
            
            <div id="hidden1" class="collapse">
            </div>
           </div>

 
           <div class="random2">
            <div class="media2">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://www.gettyimages.co.uk/CMS/StaticContent/1365074401896_Justin-Case-1.jpg">
                </a>
                <div class="media-body2">
                    <h5 class=media-heading">User Name</h5>
                        <p>get random2 title
                        </p>
                </div>
            </div>
            
            <div><button type="button" id="more2" class="btn btn-link" data-toggle="collapse" data-target="#hidden2">+view more comments</button></div>
            
            <div id="hidden2" class="collapse">
            </div>
           </div>
    
           <div class="random3">
            <div class="media3">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://www.gettyimages.co.uk/CMS/StaticContent/1365074401896_Justin-Case-1.jpg">
                </a>
                <div class="media-body3">
                    <h5 class=media-heading">User Name</h5>
                        <p>get random3 title
                        </p>
                </div>
            </div>

            <div><button type="button"id="more3" class="btn btn-link" data-toggle="collapse" data-target="#hidden3">+view more comments</button></div>
            
            <div id="hidden3" class="collapse">
            </div>
 

           </div>

        </div>
    </div>


    <div class="panel2 panel2-danger">
        <div class="panel2-heading">
            <h3 class="panel2-title">POST TITLE</h3>
        </div>
        <div class="panel2-body">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://www.gettyimages.co.uk/CMS/StaticContent/1365074401896_Justin-Case-1.jpg">
                </a>
                <div class="media-body">
                    <h5 class=media-heading">User Name</h5>
                    <textarea class="form-control" fixed rows="1" autofocus></textarea>
                </div>
            </div>
     
            <div class="ids">
                <div class="fb"><a href="#"><img src="http://assets.gae9.com/img/btn_share_facebook_small-27882cc2.png"></a></div>
                <div class="tw"><a href="#"><img src="http://assets.gae9.com/img/btn_share_twitter_small-44142e4d.png"></a></div>
                <div class="gc"><a href="#"><img src="http://lh3.ggpht.com/-XlS02flrqs4/TjBPx4b_E1I/AAAAAAAADWg/HrDTZ8ivUhM/googleplus1_thumb%25255B1%25255D.jpg?imgmax=800"></a></div>
            </div>
            <div class="subbutton"><input type="submit" class="btn-danger" value="submit"></div>
        </div> 
    </div>
</div>

{% endblock %}
