{% macro naming_thumbnail() %}
<div class="naming naming-thumbnail">
  <a href="#" class="thumbnail">
    <img data-src="holder.js/170%x180" alt="..." />
    <h4 class="caption">Naming</h4>
  </a>
  <ul class="list-group">
    {{ naming_comment('Comment 1', 14) }}
    {{ naming_comment('Comment 2', 2) }}
    {{ naming_comment('Comment 3', 1) }}
  </ul>
</div>
{% endmacro %}

{% macro naming_comment(comment, badge) %}
<li class="list-group-item comment">
  <span class="badge">{{ badge }}</span>
  {{ comment }}
</li>
{% endmacro %}
